@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

* {
	font-family: 'Jua', sans-serif;
}

.modal {
 /*       position: absolute; */
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        display: none;

        background-color: rgba(0, 0, 0, 0.4);
      }
.modal.show {
  display: block;
}

.modal_body {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 320px;
  height: 430px;

  text-align: center;

  background-color: #FFFFFF ;
  border-radius: 25px;
  border : 2px solid #E2E2E8;

  transform: translateX(-50%) translateY(-50%);
}
.modal_title{
    background-color: #FEECE1;
    padding: 15px;
    margin: 0;
    display: block;
    font-size: 25px;
    color: black;
    border-radius: 20px 20px 0 0;
    border : 2px solid #E2E2E8;
}
.profile_area{
    position: relative;
    height: 60px;
    margin-bottom: 15px;
    white-space: nowrap;
    padding: 10px 12px;
    font-size: 20px;
}
.sender{
    border: 1px solid #275566;
    color: #4dc2ee !important;
    padding: 6px 12px;
    font-size: 14px;
    position: absolute;
    border-radius: 5px;
    left: 50px;
    top: 13px;
}
.receiver{
    border: 1px solid #275566;
    color: #4dc2ee !important;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 5px;
    right: 50px;
    bottom: 0px;
    position: absolute;
    border-radius: 5px;
}
.let.title{
    margin-bottom: 10px;
    width: 70%;
    background-color: #222;
    color: black;
    height: 32px;
    line-height: 32px;
    font-size: 18px;
    display: inline-block;
    padding: 0 10px;
    box-sizing: border-box;
    border-radius: 5px;
    vertical-align: middle;
    border: none;

}
.let.content{
    color: black;
    height: 100px;
    width: 80%;
    line-height: 160%;
    padding: 5px 10px;
    background-color: #fff;
    height: 60%;
    line-height: 32px;
    font-size: 18px;
    padding: 0 10px;
    box-sizing: border-box;
    border-radius: 5px;
    vertical-align: middle;
    border: none;
    margin: 15px;
    resize: none;
}
.mes_send{
    background-color: #F2F4F9;
    color: #222;

}
.mes_close{
    background-color: #F2F4F9;
    color: #222;
}
.mes{
    margin: 5px;
    padding: 0 20px;
    height: 42px;
    line-height: 42px;
    border-radius: 10px;
    border : 2px solid #E2E2E8;
    position: relative;
    overflow: hidden;
    font-size: 14px;
    z-index: 1;
}
.mes:hover{
	background-color:#FEECE1;
	color:#958CC3;
}
.mes::before{
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition-property: top, border-radius;
    transition-duration: 0.5s;
    z-index: -1;
}
.mes_send::before{
  background-color: rgb(7, 75, 67);
}
.mes_close::before{
  background-color: rgb(176, 69, 15);
}

@media only screen and (max-width:400px){
    .modal{
        width: 300px;
    }
}